@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900&display=swap');

*, *:after, *:before {
	box-sizing: border-box;
	transition: all .1s ease-in;
}

body {
	font: 400 14px/1.6 'PT Sans', sans-serif;
	color: #777;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	text-transform: uppercase;
}

.ba-header h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 48px;
	text-transform: uppercase;
	color: #00c9cc;
	line-height: 30px;
	margin-bottom: 22px;
	letter-spacing: 4px;
 }

h2 {
	font-size: 21px;
	color: #000;
}

.ba-container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.ba-header {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.ba-header > p:first-child {
	font-size: 12px;
	color: #8A929D;
	text-transform: uppercase;
	padding: 143px 0 36px 0;
	margin: 0;
	
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	letter-spacing: 1.6px;
}

.ba-header .ba-intro-subtitle {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 110px;
	font-weight: 600;
	letter-spacing: 1.65px;
}

.ba-description {
	display: flex;
	justify-content: center;
	padding-bottom: 130px;
}

.ba-description  article {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #F7F7F7;
	height: 420px;
	border: 1px solid #EFEFEF;
	
}

.ba-description  article  img{
	margin: 55px 0;
}

.ba-description  article p {
	margin: 15px 33px;
	text-align: justify;
	
}

article img:nth-child(2) {
	display: none;
}

article:hover img:nth-child(2) {
	display: block;
}

article:hover img:nth-child(1) {
	display: none;
}

article:hover {
	background-color: #00C9CC;
	color: #fff;
}


article:hover  h2{
	color: #fff;
}